%container {
  @include media(tablet) {
    max-width: map-get($container-width, tablet);
  }

  @include media(desktop) {
    max-width: map-get($container-width, desktop);
  }

  @include media(large) {
    max-width: map-get($container-width, large);
  }

  margin: 0 auto;
}

%wizard-tab {
  position: relative;

  font-weight: bold;

  margin-bottom: 10px;
  padding: 14px 15px;

  color: $color-text-light;
  background-color: $color-bg-primary-mid;

  border-radius: $base-border-radius;

  cursor: default;
}
