$z-widget-aside: 1;
$z-widget-table-header: 2;
$z-widget-header: 3;
$z-floating-content: 5;
$z-overlay: 10;
$z-toolbar: 20;
$z-dropdown: 30;
$z-backdrop: 50;
$z-filters: 55;
$z-expanded: 56;
$z-navigation: 60;
$z-dropdown-scroll-container: 70;
$z-tooltip: 80;
$z-modal: 85;
